---
title: Index
layout: main.njk
---

<h1>Index</h1>
<ul class="no-style">
  <li>
    <a href="/about">/about</a>
  </li>
  <li>
    <a href="/colophon">/colophon</a>
  </li>
  <li>
    <a href="/notes">/notes</a>
  </li>
  <li>
    <a href="/photos/2024-spring-break">/photos/2024 spring break</a>
  </li>
  <li>
    <a href="/projects">/projects</a>
  </li>
  <li>
    <a href="/reviews">/reviews</a>
  </li>
  <li>
    <a href="/statuses">/statuses</a>
  </li>
  <li>
    <a href="/thoughts">/thoughts</a>
  </li>
</ul>