---
title: Index
layout: main.njk
---

<h1>Index</h1>

<ul class="no-style">
  <li><a href="/about">about</a> me in more detail</li>
  <li><a href="/thoughts">thoughts</a> on computers, philosophy, physics, life</li>
  <li><a href="/reviews">reviews</a> of the books I read, films I watch, food I eat</li>
  <li><a href="/notes">notes</a> on physics, machine learning, design, et cetera</li>
</ul>
