---
title: photos
layout: main.njk
---

<h1>photos</h1>
<ul class="no-style">
  {%- for post in collections.photos -%}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      —
      <i>{{ post.data.description }}</i>
    </li>
  {%- endfor -%}
</ul>