---
title: Reviews
layout: main.njk
---

<h1>Reviews</h1>
<p>
  Here are my thoughts on some of the media I've consumed.
</p>
<ul class="no-style">
  {%- for post in collections.reviews -%}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      — {{ post.data.rating }}/5,
      <i>{{ post.date | toISODateString }}</i>
    </li>
  {%- endfor -%}
</ul>