---
layout: main.njk
---

<h1>{{ title }}</h1>

<p class="time">
  <time datetime="{{ page.date | toISODateString }}">published {{ page.date | toISODateString }}</time>
</p>
{% if lastModified %}
  <p class="time">
    <time datetime="{{ lastModified | toISODateString }}">last edited {{ lastModified | toISODateString }}</time>
  </p>
{% endif %}
{{ content | safe }}
