---
layout: base.njk
---

<div class="primary">
  <header>
    <h1><a href="/">CH</a></h1>
  </header>
  <main>
    {{ content | safe }}
  </main>
</div>
<footer>
<p>v4, 2024. Built in Brooklyn.</p>
</footer>
