<nav>
    <ul>
        <li class="brand"><p><a href="/">chainje</a></p></li>
        {% for item in site.data.nav %}
            <li>
                {% if item.name == "blog" and page.url == item.link %}
                <p><a href="{{ item.link }}" class="active"><i>{{ item.name }}</i></a></p>
                {% elsif page.url contains item.name %}
                <p><a href="{{ item.link }}" class="active"><i>{{ item.name }}</i></a></p>
                {% else %}
                <p><a href="{{ item.link }}">{{ item.name }}</a></p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>