body {
    margin: 0;
    padding: 50px 0px;
}

r-grid {
    max-width: 1000px;
    margin: auto;
}

r-cell {
    padding: 0px 20px;
}

.content {
    max-width: 600px;
    margin: auto;
}

h1 {
    letter-spacing: -0.02em;
    margin-bottom: 0.8em;
}

p, li {
    font-size: 16px;
    line-height: 1.5em;
    color: #444;
}

p {
    margin-bottom: 10px;
}


.list-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        margin-bottom: 0.5em;
    }
}

p.post-date, p.post-author {
    font-size: 12px;
    color: #777;
}

p.post-date {
    margin-bottom: 4px;
}

h1.post-title {
    margin-top: 0;
    margin-bottom: 4px;
}

p.post-author {
    margin-bottom: 20px;
}

pre.highlight {
    margin-bottom: 10px;
}
