.brand {
    font-weight: 600;
    margin-bottom: 1em;

    p {
        font-size: 20px;
    }
}

nav {
    padding-bottom: 20px;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    p {
        margin: 0;
        line-height: 1.0em;
    }
}