/* @font-face {
	font-family: "Select Mono";
	src:
		local("Select Mono"),
		url("SelectMono-Italic.woff") format("woff");
} */

@font-face {
	font-family: "TT2020";
	src:
		local("TT2020"),
		url("/styles/TT2020Base-Regular.woff2") format("woff2");
	font-style: normal;
}

@font-face {
	font-family: "TT2020";
	src:
		local("TT2020"),
		url("/styles/TT2020Base-Italic.woff2") format("woff2");
	font-style: italic;
	ascent-override: 0%;
	descent-override: 0%;
	line-gap-override: 0%;
}

