:root {
  font-family: "et-book";
  --font-size: 18px;
  --line-height: 22px;
}

html {
  width: 100%;
  height: 100%;
  background-color: rgb(254, 250, 235);
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100%;
  background-color: rgb(254, 250, 235);
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-style: italic;
}

h1 {
  font-size: calc(2 * var(--font-size));
  line-height: calc(2 * var(--line-height));
  margin-bottom: calc(2 * var(--line-height));
  margin-top: 0;
  text-align: center;
}

h2 {
  font-size: var(--line-height);
  line-height: var(--line-height);
  margin: 0;
  text-align: center;
}

h3 {
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
}

ul {
  list-style: none;
  padding-left: 0;
}

p, li {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

p {
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
}

a {
  color: inherit;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  margin: -0.3rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

main {
  max-width: 600px;
  margin: calc(2 * var(--line-height)) auto 0;
  flex-grow: 1;
}

footer {
  bottom: calc(2 * var(--line-height));
  max-width: 600px;
  margin: 0 auto calc(2 * var(--line-height));
  text-align: center;
}

