:root {
  font-family: "et-book";
  --font-size: 22px;
  --line-height: 27px;
}

html {
  height: 100%;
  width: 100%;
  background-color: rgb(254, 250, 235);
}

body {
  display: flex;
  flex-direction: column;

  height: calc(100% - 2 * var(--line-height));
  width: calc(100% - 2 * var(--line-height));
  padding: 0;
  margin: var(--line-height);
  background-color: rgb(254, 250, 235);
}

div.primary {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 600px) 1fr;
}

@media (min-width: 800px) {
  div.primary {
    column-gap: var(--font-size);
  }

  header {
    grid-column: 1;
    text-align: right;
    margin-top: calc(2.7 * var(--line-height));
  }

  main {
    grid-column: 2;
    margin: calc(2 * var(--line-height)) auto;
  }
}

@media (max-width: 800px) {
  div.primary {
    column-gap: 0;
  }

  header {
    grid-column: 2;
    text-align: left;
    margin-top: 0;
  }

  main {
    grid-column: 2;
    margin: var(--line-height) auto calc(2 * var(--line-height));
  }
}

header>h1 {
  font-weight: normal;
  font-size: var(--font-size);
  line-height: var(--line-height);
  /* font-style: italic; */
  margin: 0;
}

header>h1>a {
  text-decoration: none;
}

header>h1>a:hover {
  margin: -6px -4px -4px;
  padding: 6px 4px 4px;
  border-radius: 6px;
}

a {
  color: inherit;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  margin: -4px;
  padding: 4px;
  border-radius: 6px;
}

main {
  width: 100%;
  max-width: 600px;
}

div.title-block {
  margin-bottom: var(--line-height);
}

div.title-block>h1,
div.title-block>h2 {
  margin: 0;
  font-style: italic;
}

h1 {
  font-size: calc(2 * var(--font-size));
  line-height: calc(2 * var(--line-height));
  font-weight: normal;
  font-style: italic;
  margin: 0 0 var(--line-height);
}

h2 {
  font-size: calc(1.25 * var(--font-size));
  line-height: calc(1.5 * var(--line-height));
  font-weight: normal;
  margin: 0 0 var(--line-height);
}

p, li {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

p {
  margin: var(--line-height) 0;
}

p.time {
  text-transform: capitalize;
  font-style: italic;
  margin: 0;
}

ul.no-style {
  list-style: none;
  padding-left: 0;
}

footer {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

footer>p {
  margin-top: var(--line-height);
  margin-bottom: calc(2 * var(--line-height));
}

