:root {
    font-family: "Authentic Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;

    --color-bg: hsl(250 92% 95% / 1);
    --color-link: rgba(0, 0, 0, 0.5);
}

html, body {
    background-color: var(--color-bg);
} 

body {
    margin: 0;
    overflow-x: hidden;
}

main, footer {
    /* margin: 0 auto; */
    padding: 1rem;
    max-width: 800px;
}

figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  gap: 0.5rem;

  margin: 0;

  img {
    max-width: calc(100vw - 2rem);
    border-radius: 16px;
    mix-blend-mode: multiply;
  }

  figcaption {
    font-size: 0.75rem;
    line-height: 1.3em;
  }
}


h1 {
    font-size:   2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin: 0.5em 0 0.5em 0;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.25em;
    letter-spacing: -0.02em;
    margin: 1.5rem 0 1rem;
}

p, ul, li {
    max-width: 600px;
}

ul {
    padding-left: 1rem;
}

li {
}

a {
    color: inherit;
    text-decoration-color: var(--color-link);
}

.github-icon {
    position: relative;
    letter-spacing: 0.9em;
}

.github-icon::before {
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('/assets/github.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.9em 0.9em;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub { 
    top: 0.4em; 
}

table {
    min-width: 600px;
    border-collapse: collapse;
    line-height: 1.25em;
}

.full-bleed {
    --table-width: min(100vw, 800px);
    width: var(--table-width);
    position: relative;
    left: 0%;
    margin-left: -1rem;
    overflow-x: auto;
}

th {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--color-link);

    /* border-bottom: 0.5px solid var(--color-link); */
    padding: 0 0.5rem;
}

td {
    border-top: 0.5px solid var(--color-link);
    padding: 0.25rem 0.5rem;

    vertical-align: top;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0;
        }
    }
}

th:first-child,
td:first-child {
    padding-left: 1rem;
}

th:last-child,
td:last-child {
    padding-right: 1rem;
}

span.arxiv-number {
    font-size: 0.75rem;
}

.paper-title {
    font-weight: 500;
}

.paper-authors {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

.paper-journal {
    font-style: italic;
}

.footer-sep {
    text-align: center;
    max-width: 600px;

    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;

    padding-top: 1rem;
    margin-bottom: 0;

    span {
        display: block;
        font-size: 1.5rem;
        line-height: 1rem;
        font-weight: 100;
    }
}

footer {
    /* padding-top: 2rem; */

    padding-top: 0;
    margin-top: 0;

    h2 {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        margin: 0;
    }

    p {
        font-size: 0.75rem;
        line-height: 1rem;
        margin: 1rem 0;
    }
}
